<div id="create_form" class="w-50">
  <%= form_with model: task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class:"form-control"%>
    <%= f.label :details %>
    <%= f.text_area :details, class:"form-control" %>
    <% if current_page?(tasks_new_path) %>

    <% else %>
      <div class="d-flex align-items-center gap-3" id="checkbox-form">
      <%= f.check_box   :completed %>
      <%= f.label :completed %>
      </div>
    <% end %>
    <%= f.submit  class:"btn btn-primary"%>
  <% end %>
</div>
